<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/del" method="post">
        <label for="">Enter name of employee to be deleted: </label> <input type="text" name="pname" required> <br>
        <br>
        <button type="submit">Delete</button>  
    </form> <br>
    <form action="/">
        <button type="submit">Go Back</button>
    </form>
</body>
</html>