<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sall" method="post">
        <button type="submit">See All</button> 
    </form> <br>
    <form action="/gett" method="get">
        <button type="submit">Add Contact</button> 
    </form> <br>
    <form action="/gett" method="post">
        <button type="submit">Add Numbers</button> 
    </form> <br>
    <form action="/uen" method="get">
        <button type="submit">Update Employee Name</button> 
    </form> <br>
    <form action="/ueno" method="get">
        <button type="submit">Update Employee Number</button> 
    </form> <br>
    <form action="/fech" method="get">
        <button type="submit">Get Employee</button> 
    </form> <br>
    <form action="/del" method="get">
        <button type="submit">Delete Employee</button> 
    </form>
</body>
</html>